<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bug</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.tjetc.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.tjetc.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tjetc.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllUsersServlet</display-name>
    <servlet-name>ShowAllUsersServlet</servlet-name>
    <servlet-class>com.tjetc.servlet.ShowAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllUsersServlet</servlet-name>
    <url-pattern>/ShowAllUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllProduct</display-name>
    <servlet-name>ShowAllProduct</servlet-name>
    <servlet-class>com.tjetc.servlet.ShowAllProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllProduct</servlet-name>
    <url-pattern>/ShowAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showAllProductServlet</display-name>
    <servlet-name>showAllProductServlet</servlet-name>
    <servlet-class>com.tjetc.servlet.showAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showAllProductServlet</servlet-name>
    <url-pattern>/showAllProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserByUseridServle</display-name>
    <servlet-name>DeleteUserByUseridServle</servlet-name>
    <servlet-class>com.tjetc.servlet.DeleteUserByUseridServle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserByUseridServle</servlet-name>
    <url-pattern>/DeleteUserByUseridServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserByUseridServlet</display-name>
    <servlet-name>DeleteUserByUseridServlet</servlet-name>
    <servlet-class>com.tjetc.servlet.DeleteUserByUseridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserByUseridServlet</servlet-name>
    <url-pattern>/DeleteUserByUseridServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductByPidServlet</display-name>
    <servlet-name>DeleteProductByPidServlet</servlet-name>
    <servlet-class>com.tjetc.servlet.DeleteProductByPidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductByPidServlet</servlet-name>
    <url-pattern>/DeleteProductByPidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>ShowUsersByPageNumServlet</display-name>
    <servlet-name>ShowUsersByPageNumServlet</servlet-name>
    <servlet-class>com.tjetc.servlet.ShowUsersByPageNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUsersByPageNumServlet</servlet-name>
    <url-pattern>/ShowUsersByPageNumServlet</url-pattern>
  </servlet-mapping>
<servlet>
  <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.tjetc.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
</web-app>